In [3]:
dict = {'History':10, 'geography':20}

In [4]:
dict

{'History': 10, 'geography': 20}

In [5]:
del dict['History']

In [10]:
dict['geography']

20

In [1]:
import pandas as pd

In [2]:
index = pd.read_csv('index.csv')

In [11]:
index.head()

   A  B  C   D  E  F      G      H       I    J  K  L
0  C  A  8   0  S  0   COIL  0.700   610.0    0  0  3
1  C  R  0   0  S  0   COIL  3.200   610.0    0  0  3
2  C  R  0   0  S  0  SHEET  0.700  1300.0  762  0  3
3  C  A  0  60  ?  0   COIL  2.801   385.1    0  0  3
4  C  A  0  60  ?  0  SHEET  0.801   255.0  269  0  3

In [27]:
index.iloc[:,2:3]

      C
0     8
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16   10
17    0
18    0
19    0
20    0
21   55
22    0
23   70
24    3
25    0
26    0
27    0
28   55
29    0
..   ..
227   0
228   0
229   0
230   0
231   0
232   0
233   0
234   0
235   0
236  65
237   0
238   0
239   0
240   0
241   0
242   0
243   0
244   0
245   0
246   0
247   0
248   0
249   0
250   0
251   0
252   0
253   6
254   0
255  45
256   6

[257 rows x 1 columns]

In [32]:
index.iloc[:,:-3:-1]

     L    K
0    3    0
1    3    0
2    3    0
3    3    0
4    3    0
5    3    0
6    3    0
7    3    0
8    3    0
9    3    0
10   3    0
11   3    0
12   3    0
13   3    0
14   3    0
15   3    0
16   U    0
17   U    0
18   3    0
19   3    0
20   3    0
21   3    0
22   U    0
23   3    0
24   1    0
25   3    0
26   3    0
27   3    0
28   3    0
29   3  500
..  ..  ...
227  2    0
228  3    0
229  3    0
230  3    0
231  3    0
232  3    0
233  3    0
234  5    0
235  3    0
236  3  500
237  3    0
238  5    0
239  3    0
240  3    0
241  3    0
242  3    0
243  3  600
244  3    0
245  3    0
246  2    0
247  3    0
248  3    0
249  3    0
250  3    0
251  3    0
252  3    0
253  3    0
254  3    0
255  3    0
256  3    0

[257 rows x 2 columns]

In [33]:
index.iloc[:10,:2]

   A  B
0  C  A
1  C  R
2  C  R
3  C  A
4  C  A
5  C  A
6  C  R
7  C  A
8  C  R
9  C  A